<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <span class="title">Version</span>
    <a class="version" href="#">{{page.componentVersion.displayVersion}}</a>
  </div>
  {{/if}}
  <ul class="components">
    {{#each site.components}}
    <li class="component{{#if (eq this @root.page.component)}} is-current{{/if}}">
      <ul class="versions">
        {{#each ./versions}}
          <li class="version
            {{~#if (and (eq ../this @root.page.component) (eq this @root.page.componentVersion))}} is-current{{/if~}}
            {{~#if (eq this ../latestVersion)}} is-latest{{/if}}">
            <span class="title">Version</span>
            {{#if ../../page.versions }}
              {{#each ../../page.versions }}
                {{#if (eq ./version ../version)}}
                    <a href="{{{relativize ./url}}}" aria-label="Version {{./displayVersion}}">{{./displayVersion}}</a>
                {{/if}}
              {{/each}}
            {{else}}
              <a href="#">{{./displayVersion}}</a>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</div>
